

<!-- one way data binding  (event binding)-->
<!-- <label>Server Name {{serverName}}</label>
<input type="text"
 class="form-control"
 (input)="onUpdateServerName($event)"
 > -->

<!-- two way data binding  (event binding)-->
<!-- we combine property and event binding -->
<input type="text"
 class="form-control"
 [(ngModel)]="serverName1"
 >
<label>Server Name {{serverName1}}</label> 
<br>

<!-- <!-- <app-server></app-server> -->
<!-- property binding -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add service </button>  

<!-- string interpolation -->
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>

<!-- event binding -->
<p>{{serverCreationStatus}}</p>




<!-- directive  -->
<!-- if -->
<!-- <p *ngIf="serverCreate">server was created, server name is {{serverName1}}</p> -->

<!-- if,else -->
<p *ngIf="serverCreate"; else noServer>server was created, server name is {{serverName1}}</p>
<ng-template #noServer>
    <p>No!! server was created</p>
</ng-template>

<app-server></app-server>       
 <!-- <div app-server></div> --> 
 <!-- <div class="app-server"></div> -->